<!doctype html>
<html lang="en">
<head>
     <meta charset="utf-8" />
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
    <link href="/stylesheets/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
	<link href="/stylesheets/main.css" rel="stylesheet" />
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	
	
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-image/image/sidebar-5.jpg>
		      <div class="sidebar-wrapper">
		

                    <div class="logo">
                        <a target="_blank" href="http://www.safe-lanes.com" class="simple-text">
                             <img src="/images/SafeLanes_logo.png" class="imgclass" />
                        </a>
                    </div>
                    <ul class="nav">
                        <li>
                            <a href="/dashboard">
                               <p>Dashboard</p>
                            </a>
                        </li>
                        
					    
						<li class="active">
                            <a href="/employees">
                               <p>Employee Master</p>
                            </a>
                        </li>
						
                        <li>
                            <a href="/vdranalysiss">
                                <p>VDR Job Tracker</p>
                            </a>
                        </li>
                        <li>
                            <a href="/jobassignments">
                               <p>Vessel Job Tracker</p>
                            </a>
                        </li>
						<li>
                            <a href="/clients">
                               <p>Client Details</p>
                            </a>
                        </li>
						<li>
                            <a href="/observationanalysis">
                               <p>Observation Analysis</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        
 <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div  align="right">
                <a href="">Account</a>
                   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <a href="#">Log out</a>
            </div>
        </div>
	</nav>
        
		<div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                               <h5><a href="/employees">Employee List</a></h5>
                               <h5>Edit Employee</h5>
                               
							 </div>
							 <div class="content">
                                <form id="editemp" enctype="multipart/form-data" action="/employees/update/<%= employee._id%>" method="post">
								 <div class="row">
                                   <div class="col-md-4">
                                      <div class="form-group">
                                           <label>First Name *</label>
                                                 <input type="text" class="form-control" placeholder="First Name" name="firstname" id="firstname" value="<%= employee.firstname %>">
									   </div>
                                   </div>
                                   <div class="col-md-4">
                                      <div class="form-group">
                                           <label>Last Name</label>
                                                <input type="text" class="form-control" placeholder="Last Name" name="lastname" id="lastname" value="<%= employee.lastname %>">
                                      </div>
                                   </div>
                                </div>
								<div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control" placeholder="Home Address" name="address" id="address" value="<%= employee.address %>">
                                            </div>
                                        </div>
										 <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Office Location</label>
                                                <input type="text" class="form-control" placeholder="Office Location" name="officelocation" id="officelocation" value="<%= employee.officelocation %>">
                                            </div>
                                        </div>
								</div>
								<div class="row">
										<div class="col-md-4">
                                      <div class="form-group">
                                           <label>Country</label>
                                                  <select name="country" class="form-control" id="country">
												  <option selected value='<%= employee.country %>'><%= employee.country %></option>
								                   <% for(var i=0; i < country.length; i++){ %>
												      <% if(country[i] != employee.country){ %>
												        <option value='<%= country[i] %>'><%= country[i] %></li>
                                                   <% }} %>
							                      </select>
									   </div>
                                   </div>
								   <div class="col-md-4">
									 <div class="form-group">
                                           <label>City </label>
                                                  <select name="city" class="form-control" id="city">
								                   
							                      </select>
									   </div>
                                   </div>	
                                </div>
								
								
                               <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>DOB </label>
                                                <input type="date" class="form-control" placeholder="Date Of Birth" name="dateofbirth" id="dateofbirth" value="<%= employee.dateofbirth%>">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Passport/IC No *</label>
                                                <input type="text" class="form-control" placeholder="Passport Number" name="passportno" id="passportno" value="<%= employee.passportno%>">
                                            </div>
                                        </div>
									
                                </div>						
									

                               								   
								<div class="row">
                                   <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Date Of Joining *</label>
                                                <input type="date" class="form-control" placeholder="Date Of Joining" name="dateofjoining" id="dateofjoining" value="<%= employee.dateofjoining%>">
                                            </div>
                                        </div>
                                   <div class="col-md-4">
                                      <div class="form-group">
                                           <label>Nationality </label>
										       <select name="nationality" class="form-control" id="nationality">
											   <option value=''>Select Nationality</li>
											   <option selected value='<%= employee.nationality %>'><%= employee.nationality %></option>
												<% for(var i=0; i < nationality.objNat.length; i++){ %>
												     <% if(nationality.objNat[i] != employee.nationality){ %>
								                   <option value='<%= nationality.objNat[i] %>'><%= nationality.objNat[i] %></li>
                                                   <% }} %>
								                </select>
                                      </div>
                                   </div>
                                 </div>	   
          
			                     <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Marrital Status </label>
												<input type="radio" id="ms1"
												   name="maritalstatus" value="married" onclick="show();">
												  <label for="ms1">Married</label>

												  <input type="radio" id="ms2"
												   name="maritalstatus" value="unmarried" onclick="hide();">
												  <label for="ms2">Unmarried</label>
												  
                                            </div>
                                        </div>
										<div class="col-md-4">
                                            <div class="form-group">
                                                <label>WorkPermit Status </label>
												<input type="text" class="form-control" placeholder="WorkPermit Status" name="permitstatus" id="permitstatus" value="<%= employee.permitstatus %>">
                                            </div>
                                        </div>
								 </div>
										
								
								<div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Comments</label>
                                                <textarea rows="5" class="form-control" placeholder="Here can be your description" name="comment" id="comment" value="<%= employee.comment %>"></textarea>
                                            </div>
                                        </div>
                                 </div>
	                            <div class="row" >
								    <div class="col-md-4">
						               <div class="form-group">
                                           <label>Upload Photo of Employee</label>
                                           <input type="file" class="form-control-file" name="photo" id="photo" accept="image/jpg, image/JPG,image/JPEG, image/jpeg" onChange="load_image(this.id,this.value)"/>
										   
                                       </div>
									</div>
						        </div>
			                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Father Name </label>
                                                <input type="text" class="form-control" placeholder="Father Name" name="fathername" value="<%= employee.fathername %>">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Mother Name </label>
                                                <input type="text" class="form-control" placeholder="Mother Name" name="mothername" value="<%= employee.mothername %>">
                                            </div>
                                            </div>
                                        </div>
                                			
			                     <div class="row" id="dtls">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Spouse Name </label>
                                                <input type="text" class="form-control" placeholder="Spouse Name" id="spousename" name="spousename" value="<%= employee.spousename %>">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>No Of Kids </label>
                                                <input type="number" class="form-control" placeholder="Number of kids" id="noofkids" name="noofkids" value="<%= employee.noofkids %>">
                                            </div>
                                        </div>
                                </div>	
								
								
								
								

                                <button type="submit" class="btn btn-info btn-fill pull-right">Update</button>
							    <div class="clearfix"></div>
						  		
                            </form>
                           </div>
						 </div>
                       </div>
					   
					   <div class="container">
					     <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
						 <% if ( employee.photo != null ) { %>
                            <img src="<%= employee.photo %>" class="img-responsive">
							<h4 class="title"><%= employee.firstname %><br/>
						 <% }else { %>
						 <h4 class="title">Photo Not Uploaded<br/>
						 <% } %>
                         </div>
                       </div>
					   
					   
					   
					  
					 
                    </div>
			    </div>
        </body>
    </html>



<script type="text/javascript">


    function load_image(id,ext)
    {
      if(validateExtension(ext) == false)
     {
      alert("Upload only JPEG or JPG format ");
      document.getElementById("photo").value = "";
      document.getElementById("file").focus();
      return;
     }
    }

   function validateExtension(v)
   {
      var allowedExtensions = new Array("jpg","JPG","jpeg","JPEG");
      for(var ct=0;ct<allowedExtensions.length;ct++)
      {
          sample = v.lastIndexOf(allowedExtensions[ct]);
          if(sample != -1){return true;}
      }
      return false;
   }
  
    function show(){
        document.getElementById('dtls').style.display ='block';
    }
    function hide(){
        document.getElementById('dtls').style.display = 'none';
    }
  
  
	
	$(document).ready(function() { 
	
	
	$country = $('#country');
    $city = $('#city');
	
	$country.change(function() {
    
    $city.html(''); // Clear existing options in second dropdown
	
	 
     var country_name = document.getElementById("country").value;
	 
	 if(country_name != ''){
	 
        $.ajax({
          method: "GET",
          url: "/employees/returncity",
          data: { country_name: country_name },
		  dataType: "json",
        }).done(function( data ) {

          var result = data;
		  
            $.each(result, function (data) {
            var appenddata = "<option value = '" + result[data] + " '>" + result[data] + " </option>";
            $('#city').html($('#city').html() + appenddata);
             });
            
			
			
			if(country_name == '<%= employee.country %>')
			{
			$('#city').val('<%= employee.city %>').attr("selected", "selected");
		    }
			sortSelect(document.getElementById("city"), 'text', 'asc');
           
      });
	 }
	 
	 else
	 {
	   $('#city').append($('<option>', {
			value: '',
			text: 'Select City'
		}));
		
		
		
		
	 }
	
    }).change();
	
	
	
	
	
		
	   if('<%=employee.maritalstatus%>'!=null)
       {
	   
           if('<%=employee.maritalstatus%>'=="married"){
              document.getElementById('ms1').checked=true;
			  document.getElementById('dtls').style.display ='block';
              document.getElementById('spousename').value= '<%=employee.spousename%>' ;
              document.getElementById('noofkids').value= '<%=employee.noofkids%>' ;
             }
          else
           {
             document.getElementById('ms2').checked=true;
			 document.getElementById('dtls').style.display = 'none';
             
           }
       }
	   
	     var dt1 = '<%= employee.dateofbirth %>';
		 d1 = new Date(dt1);
		 
		 $('#dateofbirth').val($.datepicker.formatDate('yy-mm-dd', d1));
		  
		 var dt2 = '<%= employee.dateofjoining %>';
		 d2 = new Date(dt2);
		 $('#dateofjoining').val($.datepicker.formatDate('yy-mm-dd', d2));
		   
	   
	
      $('#editemp').bootstrapValidator({
        container: '#messages',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
           
            
        }
    
	
        });  
        
     });
var sortSelect = function (select, attr, order) {
    if(attr === 'text'){
        if(order === 'asc'){
            $(select).html($(select).children('option').sort(function (x, y) {
                return $(x).text().toUpperCase() < $(y).text().toUpperCase() ? -1 : 1;
            }));
            $(select).get(0).selectedIndex = 0;
            
        }// end asc
        if(order === 'desc'){
            $(select).html($(select).children('option').sort(function (y, x) {
                return $(x).text().toUpperCase() < $(y).text().toUpperCase() ? -1 : 1;
            }));
            $(select).get(0).selectedIndex = 0;
            e.preventDefault();
        }// end desc
    }

};
</script>						 
       
					   
                     
